<!-- <h1>Hello World</h1>
<h2>{{title}}</h2>
<button (click)='alertName("Sebghat")'> Alert Name </button>

<h4>Obj Name {{obj.name}} and has {{obj.age}} yrs old.</h4>

<p>{{siteUrl}}</p>
<h1>Component for users</h1>
<app-user-list></app-user-list>
<h1>
  <app-login></app-login>
</h1>

<h2>Sign UP COMP</h2>
<app-signup></app-signup> -->

<!-- Lecture #9 Important Events -->

<!-- <h1>Important Events</h1>
<button (click)="myEvent('this is click event')">Click ME</button>
<br><br> 

<input type="text" #box (keyup.enter)="myEvent(box.value)">
<br><br>

<input type="text" #box1 (blur)="myEvent(box1.value)">

<h1 
(mouseover)="myEvent('mouseover')"
style="background: skyblue;">Mouse Event</h1> -->


<!-- <h1>Get Text Value in Angular</h1>
<input type="text" #box value={{inputValue}} />
<button (click)="getVal(box.value)">Get Value</button>
<h4>{{inputValue}}</h4> -->
<!-- end lect #10  -->

<!-- lecture #11 -->
<!-- <h1>property binding</h1> -->
<!-- <input [value]=name [disabled]=disabledBox />
<br><br>
<input value={{name}} disabled={{disabledBox}} />
<br><br>
<button (click)="toggleBox()">TOGGLE BOX</button> -->



<!-- lecture #12 -->
<!-- <h1>Conditions in ANGULAR</h1> -->
<!-- <h2 *ngIf="show=='yes'; then ifBlock else elseBlock"></h2>

<ng-template #ifBlock>
  <h2>if BLOCK</h2>
</ng-template>
<ng-template #elseBlock>

  <h2>else BLOCK</h2>
</ng-template>
<button (click)="toggleShow()">Toggle</button> -->
<!-- 
<ng-template [ngIf]="show=='red' ">
  <h2 style="color: red;">Red</h2>
</ng-template>
<ng-template [ngIf]="show=='blue' ">
  <h2 style="color: blue;">Blue</h2>
</ng-template>
<ng-template [ngIf]="show=='green' ">
  <h2 style="color: green;">Green</h2>
</ng-template> -->


<!-- Start LECTURE 13 SWITCH CASE -->
<!-- <H1>switch in angular</H1>
<div [ngSwitch]="color">
  <h2 style="color: red;" *ngSwitchCase="'red'">Red</h2>
  <h2 style="color: blue;" *ngSwitchCase="'blue'">blue</h2>
  <h2 style="color: green;" *ngSwitchCase="'green'">green</h2>
  <h2 style="color: black;" *ngSwitchCase="'black'">black</h2>
  <h2 style="color: gray;" *ngSwitchDefault>gray</h2>

</div> -->

<!-- <h2>Switch Khan</h2>
<div [ngSwitch]="name">
  <h4 style="color: blueviolet;" *ngSwitchCase="'khan'"> HELLO KHAN, YOU'RE NOW CONNECTED.</h4>
  <h4 style="color: blueviolet;" *ngSwitchCase="'mohammad'"> HELLO MOHAMMAD, YOU CANT LOG IN RIGHT NOW.</h4>


</div> -->


<!-- Lecture #14 FOR LOOP -->

<!-- <ul>
  <li *ngFor=" let item of collection">
    {{item}}
  </li>
</ul> -->

<!-- Lecture #15 Forms  -->
<!-- <form #simpleForm="ngForm" (ngSubmit)="getValues(simpleForm.value)">
  <input type="text" name='username' ngModel placeholder="enter user name">
  <br><br>
  <input type="text" name='age' ngModel placeholder="enter user age">
  <br><br>
  <input type="text" name='address' ngModel placeholder="enter user address">
  <br><br> -->
<!-- <input type="submit" value="Submit"> -->
<!-- <button> Get User Values </button> -->
<!-- <button type="submit">Submit</button> -->
<!-- </form> -->
<!-- 

<app-header></app-header>
<h1>Make header and footer Components in Angular</h1>

<app-footer></app-footer> -->



<!-- Lecture #17 Style Binding -->

<!-- <h1>Style Binding in Angular</h1>

<h1 style="color: red;">Heading 1</h1>
<h1 [style.color] = "color">Heading 1</h1>
<h1 [style.color] = "err ? 'red' : 'green'">Conditional Style 1</h1>

<button (click)="updateColor()">Change Color</button>
<button (click)="toggleError()">Toggle Err</button> -->

<!-- Lecture #18 Bootstrap -->
<!-- <p>
  <ngb-alert [dismissible]="true">
    <strong>Warning!</strong> Better check yourself, you're not looking too good.
  </ngb-alert>
</p> -->
<!-- <p *ngFor="let alert of alerts">
  <ngb-alert [type]="alert.type" (closed)="close(alert)">{{ alert.message }}</ngb-alert>
</p>
<p>
  <button type="button" class="btn btn-primary" (click)="reset()">Reset</button>
</p> -->

<!-- lecture #19 MATERIAL UI -->

<!-- <button mat-raised-button  color="primary" style="margin: 10px;">MAT BUTTON</button>

<mat-slider thumbLabel tickInterval="1"></mat-slider> -->

<!-- lecture #20 pass data arent to child   -->
<!-- <h1>Pipe in Angular</h1> -->
<!-- {{name |  uppercase}} <br>
{{name | lowercase}} 
{{today | date: 'fullDate'}}  -->
<!-- {{string | slice:2:8  }}
{{money | currency:'AF '}} -->



<!-- <app-users [hero]="data" [moreData]="moreData" (parentFunction)="parentFunction($event)"></app-users> -->

<!-- Lecture #25z -->
<!-- <h2> Routing in Angular </h2>

<ul>
  <li><a routerLink="users">Users</a></li>
  <li><a routerLink="footer">Footer</a></li>
  <li><a routerLink="admin  ">Admin Page</a></li>
</ul> -->

<!-- <router-outlet></router-outlet> -->


<!-- Lecture #26 Directives -->
<!-- <h2>Directive</h2>
<h1 appCustomStyle>Custom Style</h1> -->

<!-- Lecture #27 Services -->
<!-- <h1>Services</h1>

name : {{name}} -->
<!-- Lecture #29 Show List From API -->
<!-- <h1>show list from API</h1>
  <table border="1">
    <tr>
    <th>ID</th>
    <th>Title</th>
    <th>user ID</th>
  </tr>
  <tr *ngFor="let item of data ">
    <td>{{item.id}}</td>
    <td>{{item.title}}</td>
    <td>{{item.userId}}</td>
  </tr>
</table> -->

<!-- Lecture #30 Model -->



<!-- Lecture #31 REcap Module -->

<!-- <ul>
  <li><a routerLink="login">login</a></li>
  <li><a routerLink="signup">signup</a></li>
</ul>

<router-outlet></router-outlet>  -->


<!-- Lecture #35 Lazy loading component -->
<!-- 
  <h1>Lazy Loading Component</h1>
  <button (click)="loadAdmin()">Admin Load component</button>
  <button (click)="loadUser()">User Load component</button> -->

<!-- Lecture #38 Template Driven Form -->

<!-- <form #Valform="ngForm" (ngSubmit)="handleSubmit(Valform.value)">
  <input type="text" name="username" ngModel>
  <input type="password" ngModel name="password">
  <input type="submit" value="Submit">
</form> -->

<!-- Lecture #39 add bootstrap - Bootstrap Form -->


<!-- <button class="btn btn-primary shadow-lg rounded m-4">Click me</button> -->


<!-- Lecture #40 - Form Validation -->
<!-- <div class="col-sm-6">
  
  <form #userForm="ngForm" (ngSubmit)="handleSubmit(userForm.value)">
    <div class="form-group">
      <label>Email</label>
      <input #email="ngModel" ngModel class="form-control" type="text" name="email" id='inputEmail'
      placeholder="enter email" required>
      {{email.touched}}
      <small id="needHelp" class="form-text text-muted"></small>
      <span *ngIf="email.invalid && email.touched" style="color: red;">Email field is required!</span>
    </div>
    <div class="form-group">
      <label>Password</label>
      <input #password="ngModel" minlength="3" required class="form-control" ngModel type="password" name="password"
        placeholder="enter your password" id='inputPassword'>
      <small id="needHelp" class="form-text text-muted"></small>
      <span *ngIf="password.invalid && password.touched" style="color: red;">Password field is not valid!</span>
    </div>
    <div class="form-group">
      <label>Address</label>
      <input #address="ngModel" pattern="[a-zA-Z]*" class="form-control" ngModel type="text" name="address"
      placeholder="enter your address" id='address'>
      <small id="address" class="form-text text-muted"></small>
      <span *ngIf="address.invalid && address.touched" style="color: red;">Password field is not valid!</span>
    </div>

  <button class="btn btn-primary" type="submit" [disabled]="userForm.invalid">
    Save
  </button>

  </form> 

</div> -->



<!-- Lecture #40 - Predefined Forms -->

<!-- 
<div class="col-sm-6">

  <form #userForm="ngForm" (ngSubmit)="handleSubmit(userForm.value)">
    <div class="form-group">
      <label>Email</label>
      <input #email="ngModel" [ngModel]="userData.email" class="form-control" type="text" name="email" id='inputEmail'
        placeholder="enter email">

      <small id="needHelp" class="form-text text-muted"></small>
    </div>
    <div class="form-group">
      <label>Password</label>
      <input #password="ngModel" minlength="3" class="form-control" [ngModel]="userData.password" type="password" name="password"
        placeholder="enter your password" id='inputPassword'>
      <small id="needHelp" class="form-text text-muted"></small>
    </div>
    <div class="form-group">
      <label>Address</label>
      <input #address="ngModel" class="form-control" [ngModel]="userData.address" type="text" name="address"
        placeholder="enter your address">
      <small id="address" class="form-text text-muted"></small>
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="userForm.invalid">
      Save
    </button>

  </form>

</div> -->

<!-- Lecture #43 - Reactive Forms -->
<!-- 

<form class="m-4" [formGroup]="loginForm" (ngSubmit)="collectData()" >
  <input type="text" name="name" id="name" formControlName="username" placeholder="enter name"> <br><br>
  <input type="password" name="password" id="password" formControlName="password" placeholder="enter password"> <br><br>
  <button type="submit" class="btn btn-outline-primary p-2">Login</button>
</form> -->


<!-- gettings photos -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Photo Search</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapsed d-flex align-content-between" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li> -->


      </ul>
      <form class="d-flex" #imageForm="ngForm" (ngSubmit)="handleSubmit(imageForm.value)">
        <input type="text" name="search" ngModel class="form-control me-2" type="search" placeholder="Search"
          aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<div class="bg-blue-400">
  <div class="container grid grid-cols-3">

    <div *ngFor="let item of images">

      <div class="card " style="width: 18rem; margin: 5px;">
        <img class="rounded " style="cursor: pointer;" src={{item.previewURL}} (click)="viewPhoto(item)">
        <div class="p-2">
          <img class="rounded-full" src={{item.userImageURL}} width="40" height="40" />
          <p>{{item.user}}</p>
          <span class="flex">
            <i class="fa fa-download"></i> {{item.downloads}} <i class="fa fa-download"></i>{{item.favorites}}
          </span>
          <span *ngFor="let tag of item.tags?.split(',')">
            <div class="ml-2 p-2">{{tag}}</div>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="container mt-4 bg-light">
  <div class="col-md-6">

    <form>
      <div class="form-group">
        <input class="form-control" id="search"
          placeholder="Enter a keyword to search....">
        <button class="btn btn-outline-primary mt-3" type="submit">Search</button>
      </div>
    </form>
  </div>
</div> -->
<!-- <button (click)="loadImages()" class="btn btn-outline-primary m-4 p-t">load images</button> -->
