
<!-- <h1>Hello World</h1>
<h2>{{title}}</h2>
<button (click)='alertName("Sebghat")'> Alert Name </button>

<h4>Obj Name {{obj.name}} and has {{obj.age}} yrs old.</h4>

<p>{{siteUrl}}</p>
<h1>Component for users</h1>
<app-user-list></app-user-list>
<h1>
  <app-login></app-login>
</h1>

<h2>Sign UP COMP</h2>
<app-signup></app-signup> -->

<!-- Lecture #9 Important Events -->

<!-- <h1>Important Events</h1>
<button (click)="myEvent('this is click event')">Click ME</button>
<br><br> 

<input type="text" #box (keyup.enter)="myEvent(box.value)">
<br><br>

<input type="text" #box1 (blur)="myEvent(box1.value)">

<h1 
(mouseover)="myEvent('mouseover')"
style="background: skyblue;">Mouse Event</h1> -->


<!-- <h1>Get Text Value in Angular</h1>
<input type="text" #box value={{inputValue}} />
<button (click)="getVal(box.value)">Get Value</button>
<h4>{{inputValue}}</h4> -->
<!-- end lect #10  -->

<!-- lecture #11 -->
<!-- <h1>property binding</h1> -->
<!-- <input [value]=name [disabled]=disabledBox />
<br><br>
<input value={{name}} disabled={{disabledBox}} />
<br><br>
<button (click)="toggleBox()">TOGGLE BOX</button> -->



<!-- lecture #12 -->
<!-- <h1>Conditions in ANGULAR</h1> -->
<!-- <h2 *ngIf="show=='yes'; then ifBlock else elseBlock"></h2>

<ng-template #ifBlock>
  <h2>if BLOCK</h2>
</ng-template>
<ng-template #elseBlock>

  <h2>else BLOCK</h2>
</ng-template>
<button (click)="toggleShow()">Toggle</button> -->
<!-- 
<ng-template [ngIf]="show=='red' ">
  <h2 style="color: red;">Red</h2>
</ng-template>
<ng-template [ngIf]="show=='blue' ">
  <h2 style="color: blue;">Blue</h2>
</ng-template>
<ng-template [ngIf]="show=='green' ">
  <h2 style="color: green;">Green</h2>
</ng-template> -->


<!-- Start LECTURE 13 SWITCH CASE -->
<!-- <H1>switch in angular</H1>
<div [ngSwitch]="color">
  <h2 style="color: red;" *ngSwitchCase="'red'">Red</h2>
  <h2 style="color: blue;" *ngSwitchCase="'blue'">blue</h2>
  <h2 style="color: green;" *ngSwitchCase="'green'">green</h2>
  <h2 style="color: black;" *ngSwitchCase="'black'">black</h2>
  <h2 style="color: gray;" *ngSwitchDefault>gray</h2>

</div> -->

<!-- <h2>Switch Khan</h2>
<div [ngSwitch]="name">
  <h4 style="color: blueviolet;" *ngSwitchCase="'khan'"> HELLO KHAN, YOU'RE NOW CONNECTED.</h4>
  <h4 style="color: blueviolet;" *ngSwitchCase="'mohammad'"> HELLO MOHAMMAD, YOU CANT LOG IN RIGHT NOW.</h4>


</div> -->


<!-- Lecture #14 FOR LOOP -->

<!-- <ul>
  <li *ngFor=" let item of collection">
    {{item}}
  </li>
</ul> -->

<!-- Lecture #15 Forms  -->
<!-- <form #simpleForm="ngForm" (ngSubmit)="getValues(simpleForm.value)">
  <input type="text" name='username' ngModel placeholder="enter user name">
  <br><br>
  <input type="text" name='age' ngModel placeholder="enter user age">
  <br><br>
  <input type="text" name='address' ngModel placeholder="enter user address">
  <br><br> -->
  <!-- <input type="submit" value="Submit"> -->
  <!-- <button> Get User Values </button> -->
  <!-- <button type="submit">Submit</button> -->
<!-- </form> -->
<!-- 

<app-header></app-header>
<h1>Make header and footer Components in Angular</h1>

<app-footer></app-footer> -->



<!-- Lecture #17 Style Binding -->

<!-- <h1>Style Binding in Angular</h1>

<h1 style="color: red;">Heading 1</h1>
<h1 [style.color] = "color">Heading 1</h1>
<h1 [style.color] = "err ? 'red' : 'green'">Conditional Style 1</h1>

<button (click)="updateColor()">Change Color</button>
<button (click)="toggleError()">Toggle Err</button> -->

<!-- Lecture #18 Bootstrap -->
