<h1>Hello World</h1>
<h2>{{title}}</h2>
<button (click)='alertName("Sebghat")'> Alert Name </button>

<h4>Obj Name {{obj.name}} and has {{obj.age}} yrs old.</h4>

<p>{{siteUrl}}</p>
<h1>Component for users</h1>
<app-user-list></app-user-list>
<h1>
  <app-login></app-login>
</h1>

<h2>Sign UP COMP</h2>
<app-signup></app-signup>

<!-- Lecture #9 Important Events -->

<h1>Important Events</h1>
<button (click)="myEvent('this is click event')">Click ME</button>
<br><br>

<input type="text" #box (keyup.enter)="myEvent(box.value)">
<br><br>

<input type="text" #box1 (blur)="myEvent(box1.value)">
